/*COLORS*/
/*Grey menu and about us background: #2d2d2d;
white font: #ffffff;
blue font and hover: #00a9ff;
light grey font: #747474;
*/

/*------------STYLE RESET-----------*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    /*line-height: 1.4em;*/
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;

    box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


/*--------------------------- MENU AND FOOTER --------------------------*/
.menu-and-footer{
	background-color: #2d2d2d;
	float: left;
    height: 100vh;
    position: relative;
    width: 20%;
    z-index: 100000;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.navigation{
    height: 75%;
}

h1{
    text-align: center;
}

.cala-strona{
    float: right;
    z-index: 0;
    position: absolute;
    text-align: center;
    width: 100vw;
}
.logo{
    margin: 27px 0;
    width: 30%;
}

.logo-border{
    width: 90%;
    height: 1px;
    display: block;
    margin: 0 auto;
}

.logo-border:first-of-type{
    margin-top: 40px;
}

.menu-dots{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 25px auto 25px auto;

}

.menu-dot{
    background-color: #ffffff;
    width: 31px;
    height: 31px;
    border-radius: 50%;
}

.main-menu a{
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
}

.main-menu{
    text-align: left;
    list-style-type: none;
}

.main-menu li{
    padding: 10px 0;
}

.main-menu li:hover{
    background-color: #00a9ff;
    cursor: pointer;
}

.main-menu-wrapper{
    width: 70%;
    margin: 0 auto;
}

.footer{
    color: #747474;
    font-size: 0.7em;
    height: 25%;
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 17px;
}

.logo-border-footer{
    margin: 8% 0;
}

.copyright{
    text-align: center;
}

#showmenu{
    position: fixed;
    left: 20%;
}